/* src/HeroPage.css */

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(0);
  }
}

.absolute {
  animation: slide 12s linear infinite; /* Adjust the duration and timing function as needed */
}
